.header-search-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.js-header-search-top {
  padding-top: 80px;
}

.header-search-item {
  margin-left: 0;
  margin-right: 0;
}

.header-search-img {
  width: 300px;
  height: 350px;
  border-radius: 8px;
  margin-left: 0;
  margin-right: 0;
}

.header-search-context {
  margin-top: 10px;
}

.header-search-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
}

@media screen and (min-width: 768px) {
  .header-search-list {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  .header-search-img {
    width: 350px;
    height: 400px;
  }

  .header-search-title {
    line-height: 1;
  }
}

@media screen and (min-width: 1440px) {
  .header-search-list {
    row-gap: 40px;
    column-gap: 15px;
  }

  .header-search-img {
    width: 333px;
    height: 370px;
  }
}
