<header class="header-comics">
  <div class="container header-wrapper-comics">
    <a class="header-link-comics" href="./index.html">
      <svg class="header-logo-comics">
        <use href="./images/sprite/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <form class="header-form-comics js-header-form-comics">
      <input
        class="header-input-comics js-header-chararcters-input-comics js-header-comics-input-comics"
        type="text"
        name="searchName"
        placeholder="search"
        autocomplete="off"
      />
      <button class="header-btn-comics" type="submit">
        <svg class="header-icon-search-comics">
          <use href="./images/sprite/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>

<!-- js-header-chararcters-name-comics js-header-comics-form-comics -->
