<footer class="footer">
  <div class="container">
  <div class="footer-wrapper">
    <div class="footer-block">
      <a href="#" class="footer-logo-link">
        <svg class = "footer-logo">
          <use href = "./images/sprite/icons.svg#icon-logo"></use>
        </svg>
      </a>

        <ul class="footer-links-list">
          <li class="footer-links-item">
            <a href="#" class="footer-link">Characters</a>
          </li>
          <li class="footer-links-item">
            <a href="#" class="footer-link">Comics</a>
          </li>
        </ul>
    </div>
    <div class="footer-social-links-block">
      <ul class="footer-social-links-list">
        <li class="footer-social-links-item">
          <a
            href="https://www.facebook.com/marvelstudios"
            class="footer-social-link"
          > 
            <svg class="footer-social-link-svg">
              <use href="./images/sprite/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-links-item">
           <a href="https://www.instagram.com/marvel" class="footer-social-link">
            <svg class="footer-social-link-svg">
              <use href="./images/sprite/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-links-item">
           <a href="https://twitter.com/Marvel" class="footer-social-link">
            <svg class="footer-social-link-svg">
              <use href="./images/sprite/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  <div class="footer-privacy">
    <p class="footer-privacy-text">Privacy Policy Public Offering Agreement</p>
  </div>
 </div>
</footer>
