<header class="header">
  <div class="container header-wrapper">
    <a class="header-link" href="./index.html">
      <svg class="header-logo">
        <use href="./images/sprite/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <form
      class="header-form js-header-form js-header-chararcters-name js-header-comics-form"
    >
      <input
        class="header-input js-header-chararcters-input js-header-comics-input"
        type="text"
        name="searchQuery"
        placeholder="search"
        autocomplete="off"
      />
      <button class="header-btn" type="submit">
        <svg class="header-icon-search">
          <use href="./images/sprite/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
