<section class="hero-characters">
  <div class="container wrapper-hero-characters">
    <div class="hero-characters-content">
      <h3 class="hero-characters-subtitle">Web-based platform</h3>
      <h1 class="hero-characters-title">Marvelous Adventures</h1>
      <p class="hero-characters-text">
        web-based platform that provides an immersive experience for users to
        explore and discover a vast collection of Marvel characters and comics.
        Start exploring the Marvelous Adventures now by visiting our Characters
        and Comics sections and discover your new favorites today.
      </p>

      <ul class="hero-characters-buttons">
        <li class="hero-characters-btn-item">
          <a class="btn-hero js-btn-color" href="./characters.html"
            >Characters</a
          >
        </li>
        <li class="hero-characters-btn-item">
          <a class="btn-hero" href="./comics.html">Comics</a>
        </li>
      </ul>
    </div>

    <div class="swiper section-hero-swiper slide-section-hero-swiper">
      <div class="swiper-wrapper">
        <div class="hero-characters-img swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              width="352"
              srcset="
                ./images/hero-characters-img/hero-slaider-spiderman-2.webp
                ./images/hero-characters-img/hero-slaider-spiderman-2@2x.webp
              "
            />
            <source
              media="(min-width: 768px)"
              width="336"
              srcset="
               ./images/hero-characters-img/hero-tablet-spiderman-2.webp
                ./images/hero-characters-img/hero-tablet-spiderman-2@2x.webp
              "
            />
            <img
              class="hero-first-img"
              srcset="
                ./images/hero-characters-img/hero-tablet-spiderman-2@2x.webp
              "
              src="./images/hero-characters-img/hero-tablet-spiderman-2.webp"
              width="237"
              height="343"
              alt="spider-man"
              loading="lazy"
            />
          </picture>

          <div class="hero-second-wrapper">
            <div class="hero-second-box">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  width="227"
                  srcset="
                    ./images/hero-characters-img/hero-slaider-spiderman-1.webp
                    ./images/hero-characters-img/hero-slaider-spiderman-1@2x.webp
                  "
                />
                <source
                  media="(min-width: 768px)"
                  width="227"
                  srcset="
                    ./images/hero-characters-img/hero-slaider-spiderman-1.webp
                    ./images/hero-characters-img/hero-slaider-spiderman-1@2x.webp
                  "
                />
                <img
                  class="hero-spiderman-img"
                  srcset="
                    ./images/hero-characters-img/hero-slaider-spiderman-1@2x.webp
                  "
                  src="./images/hero-characters-img/hero-slaider-spiderman-1.webp"
                  width="200"
                  alt="spider-man"
                  loading="lazy"
                />
              </picture>

              <div class="hero-characters-circle">
                <p class="hero-characters-circle-text">Spider man</p>
              </div>
              <a href="#" class="hero-characters-link">
                <svg class="hero-characters-arrow-svg">
                  <use
                    href="./images/hero-characters-img/hero.svg#icon-arrow"
                  ></use>
                </svg>
              </a>
            </div>
            <svg class="hero-characters-line-svg">
              <use href="./images/hero-characters-img/hero.svg#icon-line"></use>
            </svg>

            <div class="hero-characters-description">
              <h3 class="hero-characters-description-subtitle">Characters</h3>
              <p class="hero-characters-description-text">
                With amazing spider-like abilities, teenage science whiz Peter
                Parker fights crime and dreams of becoming an Avenger as
                Spider-Man.
              </p>
            </div>
          </div>
        </div>

        <div class="hero-characters-img swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              width="352"
              height="540"
              srcset="
                ./images/hero-characters-img/pantera-blue-desktop.webp
                ./images/hero-characters-img/pantera-blue-desktop@2x.webp
              "
            />
            <source
              media="(min-width: 768px)"
              width="336"
              srcset="
                ./images/hero-characters-img/pantera-blue-tablet.webp
                ./images/hero-characters-img/pantera-blue-tablet@2x.webp
              "
            />
            <img
              class="hero-first-img"
              srcset="./images/hero-characters-img/mobile-pantera-blue@2x.webp"
              src="./images/hero-characters-img/mobile-pantera-blue.webp"
              width="237"
              height="380"
              alt="pantera-blue"
              loading="lazy"
            />
          </picture>

          <div class="hero-second-wrapper">
            <div class="hero-second-box">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  width="261"
                  srcset="
                    ./images/hero-characters-img/pantera-black-desktop.webp
                    ./images/hero-characters-img/pantera-black-desktop@2x.webp
                  "
                />
                <source
                  media="(min-width: 768px)"
                  width="261"
                  srcset="
                    ./images/hero-characters-img/pantera-black-tablet.webp
                    ./images/hero-characters-img/pantera-black-tablet@2x.webp
                  "
                />
                <img
                  class="hero-pantera-black-img"
                  srcset="
                    ./images/hero-characters-img/pantera-black-mobile@2x.webp
                  "
                  src="./images/hero-characters-img/pantera-black-mobile.webp"
                  width="200"
                  alt="pantera-black"
                  loading="lazy"
                />
              </picture>

              <div class="hero-characters-circle circle-blue">
                <p class="hero-characters-circle-text">Black Panther</p>
              </div>
              <a href="#" class="hero-characters-link">
                <svg class="hero-characters-arrow-svg arrow-svg-blue">
                  <use
                    href="./images/hero-characters-img/hero.svg#icon-arrow"
                  ></use>
                </svg>
              </a>
            </div>
            <svg class="hero-characters-line-svg">
              <use href="./images/hero-characters-img/hero.svg#icon-line"></use>
            </svg>

            <div class="hero-characters-description">
              <h3 class="hero-characters-description-subtitle">Characters</h3>
              <p class="hero-characters-description-text">
                T’Challa is the king of the secretive and highly advanced
                African nation of Wakanda - as well as the powerful warrior
                known as the Black Panther.
              </p>
            </div>
          </div>
        </div>

        <div class="hero-characters-img swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              width="352"
              srcset="
                ./images/hero-characters-img/hero-tablet-halk-2.webp
                ./images/hero-characters-img/hero-desktop-halk-2@2x.webp
              "
            />
            <source
              media="(min-width: 768px)"
              width="336"
              srcset="
                ./images/hero-characters-img/hero-tablet-halk-2.webp
                ./images/hero-characters-img/hero-tablet-halk-2@2x.webp
              "
            />
            <img
              class="hero-first-img"
              srcset="./images/hero-characters-img/hero-tablet-halk-2@2x.webp"
              src="./images/hero-characters-img/hero-tablet-halk-2.webp"
              width="237"
              alt="hulk"
              loading="lazy"
            />
          </picture>

          <div class="hero-second-wrapper">
            <div class="hero-second-box">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  width="300"
                  srcset="
                    ./images/hero-characters-img/hero-tablet-halk-1.webp
                    ./images/hero-characters-img/hero-desktop-halk-1@2x.webp
                  "
                />
                <source
                  media="(min-width: 768px)"
                  width="300"
                  srcset="
                   ./images/hero-characters-img/hero-tablet-halk-1.webp
                    ./images/hero-characters-img/hero-tablet-halk-1@2x.webp
                  "
                />
                <img
                  class="hero-hulk-img"
                  srcset="
                    ./images/hero-characters-img/hero-tablet-halk-1@2x.webp
                  "
                  src="./images/hero-characters-img/hero-tablet-halk-1.webp"
                  width="200"
                  alt="hulk"
                  loading="lazy"
                />
              </picture>

              <div class="hero-characters-circle hulk-circule-green">
                <p class="hero-characters-circle-text">hULK</p>
              </div>
              <a href="#" class="hero-characters-link">
                <svg class="hero-characters-arrow-svg arrow-svg-green">
                  <use
                    href="./images/hero-characters-img/hero.svg#icon-arrow"
                  ></use>
                </svg>
              </a>
            </div>
            <svg class="hero-characters-line-svg">
              <use href="./images/hero-characters-img/hero.svg#icon-line"></use>
            </svg>

            <div class="hero-characters-description">
              <h3 class="hero-characters-description-subtitle">Characters</h3>
              <p class="hero-characters-description-text">
                Exposed to heavy doses of gamma radiation, scientist Bruce
                Banner transforms into the mean, green rage machine called the
                Hulk.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
</section>
