<section class="comics-home-section">
  <div class="container">
    <div class="comics-home-box">
      <p class="comics-home-subtitle">Web-based platform</p>
      <h1 class="comics-home-title">Comics</h1>
      <p class="comics-home-text">
        Comics is a medium used to express ideas with images, often combined
        with text or other visual information.
      </p>
    </div>
    <button class="comics-home-btn" type="button">
      <a href="./index.html" class="comics-home-link">Back home</a>
    </button>
  </div>
</section>
