<section class="characters-home-section">
  <div class="container">
    <div class="characters-home-box">
      <p class="characters-home-subtitle">Web-based platform</p>
      <h1 class="characters-home-title">Characters</h1>
      <p class="characters-home-text">
        With over 70,000 characters in the Marvel Multiverse, this is the most
        complete public listing in existence.
      </p>
    </div>
    <button class="characters-home-btn js-characters-home-btn" type="button">
      Scroll Down
    </button>
  </div>
</section>
