<section class="last-comics-section">
  <div class="container">
    <h2 class="last-comics-section-title">Last comics</h2>
    <a href="./comics.html" class="last-comics-link">
      <svg class="last-comics-arrow-svg">
        <use href="./images/sprite/icons.svg#icon-icon-arrow "></use>
      </svg>
    </a>
    <div class="swiper section-comics-swiper js-click-delegate-last-comics">
      <ul class="last-comics-list js-last-comics-list swiper-wrapper"></ul>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</section>
