<section class="random-characters-section">
  <div class="container">
    <h2 class="random-characters-section-title">Random characters</h2>
    <div class="random-characters-wrapper">
      <ul class="random-characters-img-list js-random-img"></ul>
      <ul class="random-characters-description-list js-random-descr"></ul>
    </div>
    <button class="random-characters-btn" type="button">
      <a href="./characters.html" class="random-characters-link"
        >All Characters</a
      >
    </button>
  </div>
</section>
