.characters-sort-section {
  padding-top: 40px;
}

.characters-sort-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.characters-sort-form-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.characters-sort-btn-block {
  position: relative;
}

.characters-sort-input {
  width: 100%;
  height: 40px;
  color: var(--font-color);
  background-color: transparent;

  padding-left: 20px;
  border-top: 1px solid var(--font-color);
  border-left: 1px solid var(--font-color);
  border-right: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  border-radius: 2px;
}

.characters-sort-input::placeholder {
  color: var(--font-color);
  font-size: 14px;
}

.characters-sort-input:hover,
.characters-sort-input:focus {
  background-color: var(--primary-color);
}

.characters-sort-label {
  font-size: 12px;
  line-height: 1.17;
  color: var(--text-additional-color);
  margin-bottom: 10px;
}

.characters-sort-icon-search {
  width: 15px;
  height: 15px;
  position: absolute;
  transform: translate(120px, -30px);
}

.characters-sort-form-wrapper {
  display: flex;
  gap: 10px;
  width: 100%;
}

.characters-sort-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 14px;
  padding-right: 25px;
  background-image: url('../../images/svg/arrow-input.svg');
  background-repeat: no-repeat;
  background-position: 90% center;
}
/* arrow-down.svg */

.characters-sort-select-date {
  background-image: url('../../images/svg/arrow-input.svg');
  background-repeat: no-repeat;
  background-position: 90% center;
  font-size: 14px;
}
/* arrow-input */
.characters-sort-list {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}

.characters-sort-item {
  margin-left: 0;
  margin-right: 0;
}

.characters-sort-link {
  margin-left: 0;
  margin-right: 0;
}

.characters-sort-img {
  width: 300px;
  height: 350px;
  border-radius: 8px;
  margin-left: 0;
  margin-right: 0;
}

.characters-sort-context {
  margin-top: 10px;
}

.characters-sort-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
}

.tui-pagination .tui-page-btn {
  color: var(--font-color);
  margin-right: 5px;
  border: 1px solid var(--primary-color);
}

.tui-pagination .tui-page-btn:hover {
  background-color: var(--primary-color);
}

.tui-pagination .tui-is-selected {
  background-color: var(--primary-color);
}

.tui-pagination .tui-next-is-ellip,
.tui-pagination .tui-first + .tui-prev,
.tui-pagination .tui-next + .tui-last {
  border-left: 1px solid var(--primary-color);
}

.tui-pagination .tui-next {
  margin-left: 0px;
}

@media screen and (min-width: 768px) {
  .characters-sort-section {
    padding-top: 60px;
  }

  .characters-sort-form {
    flex-direction: row;
    gap: 10px;
  }

  .characters-sort-icon-search {
    transform: translate(65px, -28px);
  }

  .characters-sort-form-wrapper {
    width: 150%;
  }

  .characters-sort-list {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  .characters-sort-img {
    width: 350px;
    height: 400px;
  }

  .characters-sort-title {
    line-height: 1;
  }
}

@media screen and (min-width: 1440px) {
  .characters-sort-form {
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-right: 200px;
    padding-left: 200px;
  }

  .characters-sort-btn-block {
    width: 150%;
  }

  .characters-sort-form-wrapper {
    gap: 15px;
  }

  .characters-sort-icon-search {
    transform: translate(80px, -27px);
  }

  .characters-sort-icon-svg {
    transform: translate(120px, -27px);
  }

  .characters-sort-list {
    row-gap: 40px;
    column-gap: 15px;
  }

  .characters-sort-img {
    width: 333px;
    height: 370px;
  }
}
