.header {
  position: sticky;
  top: 0px;
  padding: 15px 0;
  z-index: 10;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 100px;
  height: 20px;
}

.header-btn {
  position: absolute;
}

.js-header-bg {
  background-image: linear-gradient(to bottom, hsl(240, 88%, 3%), #1d123f);
}

.header-icon-search {
  position: absolute;
  width: 15px;
  height: 15px;
  transform: translate(-30px, 5px);
  fill: var(--font-color);
}

.header-input {
  width: 100px;
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 500;
  color: var(--font-color);
  padding: 5px 30px 5px 10px;
  background: transparent;
  border: 1px solid var(--font-color);
  border-bottom: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  border-radius: 2px;
}

.header-input:focus,
.header-input:hover {
  width: 120px;
}

.header-input::placeholder {
  text-transform: uppercase;
  color: var(--font-color);
  text-align: center;
}

.js-header-autocomplete-list {
  position: absolute;
  background-color: var(--primary-color);
  color: var(--font-color);
  width: 130px;
  top: 50px;
}

.header-autocomplete-item {
  display: block;
  padding: 5px 8px;
}

.header-autocomplete-item:hover,
.header-autocomplete-item:focus {
  cursor: pointer;
  background-color: var(--border-color);
}

@media screen and (min-width: 768px) {
  .header-logo {
    width: 210px;
    height: 35px;
  }

  .header-input {
    width: 130px;
    font-size: 14px;
    border-radius: 2px;
  }

  .header-input:focus {
    width: 200px;
  }

  .header-icon-search {
    width: 15px;
    height: 20px;
    transform: translate(-30px, 3px);
  }
  .js-header-autocomplete-list {
    width: 200px;
  }
}
