@import url('../common/vars.css');

.header {
  position: sticky;
  top: 0px;
  padding: 15px 0;
  z-index: 10;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 100px;
  height: 20px;
}

.header-btn {
  position: absolute;
}

.js-header-bg {
  background-image: linear-gradient(to bottom, hsl(240, 88%, 3%), #1d123f);
}

.header-icon-search {
  position: absolute;
  width: 15px;
  height: 15px;
  transform: translate(-95px, 5px);
  fill: var(--font-color);
}

.header-input {
  width: 100px;
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 500;
  color: var(--font-color);
  padding: 5px 20px 5px 32px;
  background: transparent;
  border: 1px solid var(--font-color);
  border-radius: 15px;
}

.header-input::placeholder {
  text-transform: uppercase;
  color: rgb(238, 87, 87);
}

@media screen and (min-width: 768px) {
  .header-logo {
    width: 210px;
    height: 35px;
  }

  .header-input {
    width: 130px;
    font-size: 14px;
    border-radius: 20px;
  }

  .header-icon-search {
    width: 20px;
    height: 20px;
    transform: translate(-120px, 3px);
  }
  .header-input::placeholder {
    color: rgb(238, 87, 87);
    margin-left: 5px;
    text-align: end;
  }
}
